@import
url('http://fonts.cdnfonts.com/css/kimberley');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cardProfile {
  margin-left: 75px;
  margin-right: 75px
}
.edit-pseudo:hover{
  cursor: pointer;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 10px;
  border: 2px solid gold;



}

.button2:hover:enabled {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: gold;
  color: white

}

.button2:disabled {
  color: rgb(239, 230, 230);
  border: 2px solid rgb(239, 230, 230);
}

.leaderboard {
  padding: auto;
  margin: auto;
}

.Background{
  background : linear-gradient(blue,rgb(129, 178, 212)) ;
  color: white;
  font-family: "kimberley";

}


.leaderboard>p {
  font-size: 22px;
}


.countdown {
  display: grid;
  margin: 1em auto;
  width: 20em;
  height: 20em;
}
.countdown::after {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  font: 5em/2 ubuntu mono, consolas, monaco, monospace;
  animation: num 20s steps(1) infinite;
  content: "0:" counter(s, decimal-leading-zero);
}

@keyframes num {
  0% {
    counter-reset: s 20;
  }
  5% {
    counter-reset: s 19;
  }
  10% {
    counter-reset: s 18;
  }
  15% {
    counter-reset: s 17;
  }
  20% {
    counter-reset: s 16;
  }
  25% {
    counter-reset: s 15;
  }
  30% {
    counter-reset: s 14;
  }
  35% {
    counter-reset: s 13;
  }
  40% {
    counter-reset: s 12;
  }
  45% {
    counter-reset: s 11;
  }
  50% {
    counter-reset: s 10;
  }
  55% {
    counter-reset: s 9;
  }
  60% {
    counter-reset: s 8;
  }
  65% {
    counter-reset: s 7;
  }
  70% {
    counter-reset: s 6;
  }
  75% {
    counter-reset: s 5;
  }
  80% {
    counter-reset: s 4;
  }
  85% {
    counter-reset: s 3;
  }
  90% {
    counter-reset: s 2;
  }
  95% {
    counter-reset: s 1;
  }
  100% {
    counter-reset: s 0;
  }
}
svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: silver;
}
[r] + [r] {
  transform: rotate(-90deg);
  stroke-linecap: round;
  stroke: #8A9B0F;
  animation: arc 20s linear infinite;
  animation-name: arc, col;
}

@keyframes arc {
  0% {
    stroke-dashoffset: 0px;
  }
}
@keyframes col {
  0% {
    stroke: #8A9B0F;
  }
  25% {
    stroke: #F8CA00;
  }
  50% {
    stroke: #E97F02;
  }
  75% {
    stroke: #BD1550;
  }
  100% {
    stroke: #490A3D;
  }
}
